{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">

<div class="col-sm-6 col-sm-offset-3 text-center">

<h1>{% trans "Sign Up" %}</h1>

<p>¿Ya tienes una cuenta? Entonces<a class="circle-button btn btn-border btn-lg" href="{{ login_url }}">Inicia sesion</a>.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="circle-button btn btn-lg shadow-1" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

</div></div>

{% endblock %}
